/* Layout principal */
.main-container {
  display: flex;
  gap: 0px;
  padding: 0px;
}

/* Coluna da esquerda (Seleção de personagens) */
.left-column {
  flex: 1; /* 20% da laRbackrgura */
  overflow-y: auto;
  border-right: 1px solid #ddd;
  padding: 10px;
  min-width: 80px;
}

/* Coluna da direita (Folha A4) */
.right-column {
  flex: 4; /* 80% da largura */
  padding: 0px;
  display: flex;
  justify-content:left;
  align-items: flex-start;
}

/* Contêiner para os grupos de personagens */
.character-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 0px;
}

/* Personagens na folha A4 */
.selected-character {
  display: flex;
  align-items: center;
  gap: 0px; /* Reduz o espaço entre a imagem e o texto */
  padding: 0px; /* Reduz o preenchimento interno */
  border: none; /* Remova a borda */
  background-color: transparent;
  width: 100%; /* Ajuste a largura, caso queira manter a caixa responsiva */
  max-width: 400px; /* Defina um limite de largura se necessário */
  max-height: 100px;
}

.selected-character img {
  width: 85px; /* Reduz o tamanho da imagem */
  height: auto;
  object-fit: contain;
  margin-left: -15px; /* Adiciona margem negativa para aproximar a imagem */
  margin-right: -5px; /* Adiciona margem negativa para puxar a imagem para fora do contêiner */
  margin-top: -10px;
  margin-bottom: -10px;
}

.selected-character p {
  margin: 0;
  font-size: 12px;
  margin-inline-end: 15px;
}

/* Alinha o texto mais próximo */
.selected-character .info {
  display: flex;
  flex-direction: column;
  gap: 1px; /* Reduz espaço entre nome e habilidade */
}

/* Estilo do nome do personagem (em negrito) */
.selected-character .name {
  font-size: 16px; /* Fonte menor para descrição */
  font-weight: bold; /* Torna a habilidade em negrito */
}

/* Estilo da habilidade (em itálico) */
.selected-character .ability {
  /*font-style: italic; /* Torna a habilidade em itálico */
  font-size: 14px;
  padding-bottom: 2px;
  line-height: 1.0; /* Ajuste o valor conforme necessário */
}

/* Botão de colapsar/descolapsar */
.toggle-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
}

.toggle-button:hover {
  background-color: #0056b3;
}

/* Remove marcadores da lista */
#character-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#character-list li {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s;
}

#character-list li img {
  width: 30px;
  height: auto;
}

#character-list li.selected {
  background-color: #ffd700;
  color: #000;
  font-weight: bold;
  border-color: #ff8c00;
}

/* Adiciona estilos para o foco e interatividade */
#character-list li:focus {
  outline: 2px solid #007bff;
  background-color: #e7f1ff;
}

#character-list li.selected::before {
  content: '✔';
  color: green;
  font-weight: bold;
  margin-right: 10px;
}

/* Contêiner do grupo */
.type-container {
  display: grid; /* Controla o layout de cada tipo */
  grid-template-columns: 35px 1fr;
  align-items: start; /* Alinha os elementos no topo */
  margin-bottom: 0px; /* Espaço entre os grupos */
  justify-items: center;
}

/* Cabeçalhos dos tipos em barra lateral */
.type-header {
  writing-mode: vertical-lr; /* Escreve o texto na vertical */
  transform: rotate(180deg);
  text-align: center;
  background-color: #ddd; /* Cor de fundo padrão */
  padding: 5px;
  width: 20px; /* Largura da barra */
  font-weight: bold;
  border-radius: 4px;
  height: 100%; /* Ocupa toda a altura do grupo */
  display: flex;
  align-items: center; /* Centraliza o texto verticalmente */
  justify-content: center; /* Centraliza o texto horizontalmente */
  font-size: 14px;
}

/* Fundo azul para Townsfolk e Outsider */
.type-header.townsfolk, .type-header.outsider {
  background-color: #008bc1; /* Azul claro */
  color: #fff; /* Texto preto */
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Fundo vermelho para Demon e Minion */
.type-header.demon, .type-header.minion {
  background-color: #7f0c10; /* Vermelho claro */
  color: #fff; /* Texto branco */
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Ajusta os personagens dentro de cada tipo */
.type-characters {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 0px;
}

/* Estilo atualizado da folha A4 */
.a4-sheet {
  display: grid;
  gap: 0px; /* Reduz o espaço entre as colunas */
  padding: 0px; /* Reduz a borda interna */
  width: 210mm;
  height: 297mm;
  background-image: url('../images/fundo.png'); /* Caminho para a imagem */
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px; /* Reduz o tamanho da fonte */
  overflow: auto;
}

.a4-sheet > *:first-child {
  margin-top: 75px; /* Espaço extra na primeira linha */
}

.horizontal-line {
  border: 1;
  border-top: 3px solid #000;
  margin: -2px; /* Ajuste o espaçamento da linha */
  width: calc(100% - 40px); /* Ajusta a largura da linha, deixando 20px de espaço em cada lado */
  margin-left: 20px; /* Espaço à esquerda */
  margin-right: 20px; /* Espaço à direita */
}

/* Configurações gerais para a página A4 durante a impressão */
@media print {
  /* Define o tamanho da página para A4 */
  @page {
    size: A4;
    margin: 0;
  }

  /* Remove qualquer espaço extra da página */
  body {
    margin: 0;
    padding: 0;
    width: 210mm; /* Largura da folha A4 */
    height: 297mm; /* Altura da folha A4 */
    background-image: url('../images/fundo.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz com que a imagem cubra toda a página */
    background-position: center center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
  }

  /* Oculta o título e a parte da seleção de personagens */
  header {
    display: none;
  }

  #character-selector {
    display: none;
  }

  /* Garante que o conteúdo da folha A4 ocupe toda a página */
  .a4-sheet {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;  /* Ajuste a margem conforme necessário */
    box-sizing: border-box;
    background-size: 100% 100%;
    overflow: hidden;
  }

  /* Centraliza o conteúdo na impressão */
  #selected-characters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Garante que o conteúdo comece no topo da página */
    align-items: center;  /* Centraliza o conteúdo */
    width: 100%;
    height: 100%;
  }

  /* Ajusta o conteúdo da folha A4 para se ajustar ao tamanho da impressão */
  .type-list-container,
  .character-grid-container {
    width: 100%;
    height: auto;
    page-break-before: always; /* Faz a quebra de página se necessário */
  }

  /* Remover qualquer borda ou padding adicionais na impressão */
  * {
    box-sizing: border-box;
  }

  /* Remover espaços extras na página */
  h1, h2, p, hr {
    margin: 0;
    padding: 0;
  }

  /* Ajuste da largura da imagem dos personagens */
  img {
    width: 100px;  /* Ajuste conforme necessário */
    height: auto;
  }

  .a4-footer {
    display: block;  /* Exibe o texto na impressão */
  }

}

/* Contêiner para o texto no topo da folha A4 */
.a4-header {
  text-align: center;
  position: absolute; /* Posicionamento absoluto para não interferir no fluxo do conteúdo */
  top: 10px; /* Ajuste a margem superior conforme necessário */
  left: 0;
  right: 0;
  text-align: center; /* Centraliza o texto horizontalmente */
  font-size: 24px; /* Ajuste o tamanho da fonte */
  font-weight: bold; /* Negrito para destacar */
  font-family: 'Rock Salt', cursive; /* Fonte Rock Salt */
  background-color: transparent; /* Fundo semitransparente para melhor visibilidade */
  padding: 0;
  z-index: 10; /* Garante que o texto esteja acima do restante do conteúdo */
  width: calc(100% - 40px); /* Deixa espaço nas laterais */
  margin: 0 auto; /* Centraliza o contêiner */
}

/* Novo texto na parte inferior direita */
.a4-footer {
  position: absolute;
  bottom: 10px;  /* Distância da parte inferior */
  right: 10px;   /* Distância da parte direita */
  background-color: rgb(223, 223, 55);  /* Fundo amarelo */
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12px;  /* Ajuste o tamanho da fonte conforme necessário */
  color: #000;  /* Cor do texto (preto) */
  text-align: center;  /* Centraliza o texto */
  border-radius: 0;  /* Bordas arredondadas */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* Sombrinha suave para destacar */
}

#selected-ids {
  height: 180px; /* Aumenta a altura */
  vertical-align: top;
}